/* Importați fontul */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Setări globale */
:root {
    --accent-color: rgb(156, 133, 5);
    --background-color: black;
    --text-color: rgb(255, 255, 255);
    --nav-link-hover: var(--accent-color);
    --dropdown-bg: rgba(0, 0, 0, 0.4);
    --box-shadow-color: black;
}

.lightmode {
    --accent-color: rgb(156, 133, 5);
    --background-color: white;
    --text-color: rgb(0, 0, 0);
    --nav-link-hover: var(--accent-color);
    --dropdown-bg: rgba(0, 0, 0, 0.4);
    --box-shadow-color: black;
}
#settings {
    display: none;
}
a{
    text-decoration: none;
}
/* Comutator temă */
#theme-switch {
    position: absolute; /* Poziționează butonul relativ la .nav-container */
    margin-top: 3vh;/* Ajustează distanța față de partea de sus */
    right: 60px; /* Ajustează distanța față de partea dreaptă */
    z-index: 10000;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50px 0 0 50px;
    border: solid;
    border-width: 3px;
    border-color: var(--accent-color);
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-switch:hover{
    background-color: var(--background-color);
    color: var(--background-color);
}
#settings-1{
        z-index: 10000;
        position: absolute;
        margin-top: 3vh;
        border: solid;
        border-width: 3px;
        border-color: var(--accent-color);
        display: flex;
        width: 50px;
        justify-content: center;
        height: 50px;
        align-items: center;
        background-color: var(--text-color);
        right: 10px;
}
#settings-1 svg {
    fill: var(--accent-color);
}
#settings-1:hover{
    background-color: var(--background-color);
    color: var(--background-color);
}
#theme-switch svg {
    fill: var(--accent-color);
}

/* Ascunde SVG-ul pentru modul luminos în modul întunecat */
#theme-switch svg:first-child {
    display: none;
}

/* Afișează SVG-ul pentru modul întunecat */
#theme-switch svg:last-child {
    display: block;
}



/* Resetare stiluri de bază */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Body */
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
}

/* Navigare */
nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    display: flex;
    justify-content: space-between; /* Elemente la stânga și dreapta */
    align-items: center;
    padding: 0 30px;
    position: relative; /* Asigură poziționarea relativă pentru elementele absolute din interior */
}

.nav-container .logo {
    margin-left: 0; /* Logo-ul rămâne în stânga */
    font-size: 3rem;
    margin-top: 2.5vh;
}

.nav-container .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; /* Împinge linkurile spre dreapta */
    margin-right: 100px; /* Spațiu între linkuri și buton */
    margin-top: 3vh;

}

/* Logo */
.logo {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3vw;
}

.logo span {
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color);
}

/* Meniu navigare */
.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 2vw;
    top: 2vh;
    color: var(--text-color);
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links a {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 10px; /* Spațiere între linkuri */
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    width: 0%;
    height: 3px;
    background-color: var(--nav-link-hover);
    transition: 0.2s linear;
}


.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: var(--nav-link-hover);
}

/* Dropdown */
.dropdown {
    text-decoration: none;
    background-color: var(--accent-color);
    border: solid;
    border-color: white;
    border-radius: 0 0 0 40px;
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    width: 20%;
    height: auto;
    transition: 0.2s linear;
}

.dropdown a {
    
    display: flex;
    color: var(--text-color);
    text-decoration: none;
    justify-content: center;
    padding: 10px 0;
    align-items: center;
    transition: 0.2s linear;
    color: white;
    text-decoration: none;
}

.dropdown .links a:hover {
    background-color: var(--accent-color);
}

/* Secțiune principală */
section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    z-index: -50;
    width: 500px;
    height: 80vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 30px var(--accent-color);
}

.main-container .image img {
    width: 100%;
    height: auto;
    position: relative;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

/* Keyframes */
@keyframes animate {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    100% {
        scale: 1;
    }
}

/* Conținut */
.content {
    color: var(--text-color);
    width: 40%;
}

.content h1 {
    font-size: clamp(3.5rem, 3.5rem + 10vw, 2rem);
}

.content h1 span {
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color);
}

.content .typewriter {
    font-size: clamp(2rem, 2rem + 5vw, 3.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color);
}

.content p {
    font-size: 1.4rem;
    margin: 10px 0;
}

/* Legături sociale */
.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:calc(84%/2);
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid var(--accent-color);
    border-radius: 15px;
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: 0.2s linear;
    margin-top: 1%;
}
.dropdown{
    display: none;
}
.social-links i:hover {
    scale: 1.1;
    color: var(--background-color);
    background-color: var(--accent-color);
    filter: drop-shadow(0 0 10px var(--accent-color));
}

/* Button */
.content button {
    
    display: inline-flex;
    justify-content: center;
    width: 85%;
    height: 6vh;
    margin-top: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    font-size: 150%;
    font-weight: 900;
    border-radius: 15px;
    transition: 0.2s linear;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.content button:hover {
    scale: 1.1;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background-color: transparent;
    box-shadow: 0 0 40px var(--accent-color);
}



h1 .large-char {
    font-size: 6rem !important; /* Forțează dimensiunea caracterului */
    font-weight: bold; /* Asigură grosimea textului */
    color: var(--text-color);
}
h1 .large-char-1 {
    font-size: 6rem !important; /* Forțează dimensiunea caracterului */
    font-weight: bold; /* Asigură grosimea textului */
    color: var(--accent-color);
}

/* Media Queries */
@media (max-width: 768px) {
    .logo {
        font-size: 2rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 15px !important;
        padding: 0 !important;
    }
    #theme-switch {
        display: none;
    }
    #theme-switch-1 {
        position: absolute;
        right: 37px;
        top: 285px;
        z-index: 10000;
        height: 2.5rem;
        width: 2rem;
        padding: 0;
        border: none;
        border-radius: 0 0 0 40px;
        border-color: var(--text-color);
        background-color: var(--text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #settings {
        position: absolute;
        display: flex;
        border: none;
        width: 2.5rem;
        justify-content: center;
        right: 0px;
        padding: 0;
        height: 2.5rem;
        top: 285px;
        align-items: center;
        background-color: var(--text-color);
    }
    
    #settings svg {
        fill: var(--accent-color);
        margin-left: 7px;
    }
    #theme-switch-1 svg {
        fill: var(--accent-color);
        margin-left: 10px;
    }
    
    .lightmode #theme-switch-1 svg:last-child,
    #theme-switch svg:first-child {
        display: none;
    }
    
    .lightmode #theme-switch-1 svg:first-child {
        display: block;
    }
    
    .nav-container {
        z-index: 10000;
        justify-content: space-between;
        padding: 0 20px;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg {
    display: block; 
    z-index: 1001; 
    position: absolute;
    top: 2vh;
    right: 5vw;
    color: var(--text-color);
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
    cursor: pointer;
    }
    .typewriter{
        font-size: 2rem;
    }
    .dropdown {
        display: block;
        width: 20%;
        right: 0;
    }

    .dropdown.active .hamburg {
        display: block; 
    }
    .dropdown.active {
        border-color: var(--text-color);
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        z-index: 10000;
    }
    .dropdown a{
        text-decoration: none;
        color: var(--text-color);
    }
    .main-container {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .dropdown.active .cancel {
        display: block;
    }
    .cancel{
        color: var(--text-color);
        right: 5.7vw;
    }
    .main-container .image {
        width: 100%;
        height: auto;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content .typewriter {
        font-size: 2.5rem;
    }
    
    .social-links i {
        width: 10rem;
        height: 3rem;
        font-size: 2rem;
        color: var(--accent-color);
    }
    .content button {
        display: flex;
        font-size: 1.8rem;
        width: 75vw;;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #settings-1{
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-container .links {
        display: flex !important;
    }
    .dropdown{
        display: none;
    }
    .hamburg {
        display: none;
    }
}